@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg:  #F8ECD1;
  --color-footer : #85586F;
  --color-blog: #AC7D88;
  --color-text: #DEB6AB;
  --color-subtext: #DEB6AB;
}

/*  #F8ECD1;*/